{
  "server": {
    "port": 8080
  },
  "secret":"thisisasecret",
  "saltWorkFactor":10,
  "database": {
    "uri": "mongodb://example.com/dbName",
    "username":"username",
    "password":"password",
    "poolSize":10
  },
  "accessToken": {
    "expiresIn": 3600
  },
  "refreshToken": {
    "expiresIn": 52560000
  }
}